/* PRESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

form {
  background: #010101;
  color: #d9d9d9;
  padding: 1rem 0.5rem 2rem 0.5rem;
  text-align: center;
  margin: 2rem;
  border-radius: 32px;
  width: 35%;
  box-shadow: 0 0 3px #000000;
}

input {
  width: 90%;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 0.6rem;
}

select {
  width: 90%;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 0.6rem;
}

label {
  margin-bottom: 0.6rem;
  margin-right: 0.4rem;
}

.btn {
  cursor: pointer;
  margin-top: 1.25rem;
  padding: 0.6rem 2rem;
  border-radius: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
  box-shadow: 0 0 3px #000000;
}

.btn-blue {
  background: #177ddc;
}

.btn-blue:hover {
  background: #191a1d;
  border: 1px solid #177ddc;
}

.btn-dark {
  background: #191a1d;
}

.btn-dark:hover {
  background: #c9c9c9;
  color: #000000;
  border: 1px solid #000000;
}

.page {
  padding: 4rem 15% 4rem 15%;
  text-align: center;
}

.page-dark {
  background: #191a1d;
  color: #ffffff;
}

.page-light {
  background: #c9c9c9;
  color: #000000;
}

.page-dark h1 {
  color: #ffffff;
  text-align: center;
}

.page-light h1 {
  color: #000000;
  text-align: center;
}

.list-box {
  text-align: left;
  width: 35%;
}

.container {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: baseline;
}

.v-container {
  color: #ffffff;
  text-shadow: 2px 2px black;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

#bmi-result,
#calorie-result {
  padding: 0.5rem;
  font-weight: normal;
  background: #177ddc;
  box-shadow: 0 0 4px #000000;
  border-radius: 12px;
  color: #ffffff;
}

/* STYLES */

/* Navbar */

#navbar {
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
  background: #191a1d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 4px;
}

#navbar a h2 {
  color: #ff0404;
  border-bottom-style: solid;
}

#navbar a h2:hover {
  border-color: #177ddc;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

#navbar ul li a {
  /* nav baar ke content contact, bmi etc*/
  color: #ff0404;
  justify-content: center;
  padding: 0.25rem;
  margin: 0.5rem 0.5rem;
  text-decoration: none;
}

#navbar ul li a:hover {
  border-bottom-style: solid;
  color: #ffffff;
  border-bottom-color: #177ddc;
}

/* About section part ke liye  */

#about{
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center top;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  text-shadow: 1px 1px #000000;
}

#about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#about p {
  color: #d9d9d9;
  padding: 1rem;
  margin: 1rem;
}

#about a {
  margin-left: auto;
  margin-right: auto;
}

#about ul {
  color: #ffffff;
  list-style: none;
  margin-bottom: 2rem;
}

#about ul li::before {
  content: "\1f87a"; 
  color: #177ddc; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
  margin-right: 0.5em;
}

#about .btn{
  box-shadow: 0 0 8px #000000;
}

/* BMI Calculator ke liye text part */

#bmi-calculator ul {
  padding-left: 3rem;
}

/* Caloric Needs  (jo calculate karta hai calories according to the user */

#calorie-form { /*it make changes in form border width*/
  border: 4px solid #9aff6e;
}

#caloric-needs ul {
  margin-left: 2rem;
  color: #d9d9d9;
}

#male,
#female {
  width: 10%;
}

/* Workout Planning ke liye  */

#workout-planning { /*here values are zero taaki wo left and right dono side equally expand ho */
  display: flex;
  flex-direction: column;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

#workout-planning p {
  margin-left: 4rem;
  margin-right: 4rem;
}

#workout-planning h2 { /*by using this all the text which is lying in workout plan came in left side */
  text-align: left;
}

.slide {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 6px #ed0909;
 
}
 

/*box ke text ke liye */
.slide table {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.75);
  text-shadow: 0 0 4px #000000;
  margin: 4rem auto 4rem auto;
  width: 100;
  font-size: 10pt;
  border-collapse: collapse;
}

.slide table,/* box k border line */
th,
td {
  border: 3px solid #177ddc;
}

#gaining-muscle {
  background-image: url("../img/gainingmuscle.jpg");
}

#losing-weight {
  background-image: url("../img/carddio.jpg");
}

#building-strength{
  background-image: url("../img/powerlifting\ 1.jpg");
}

#building-stamina{
  background-image: url("../img/stamina\ 1.\ jpg.jpg");
} 

#street-workout{
  background-image: url("../img/calisthenics\ 1.jpg");
}

/* Exercise Guide selection ka part */

#exercise-guide select {
  width: 40%;
}

/* FAQ */

#faq .list-box {
  /* yeh faQ box ke liye */
  background: #181f35;
  text-align: left;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: 100%;
  border-radius: 32px;
  box-shadow: 0 0 3px #000000;
}

#faq .list-box ul li {
  /* yeh fAq ke answer ke liye css*/
  color: #ea7070;
  margin: 1rem 0 1rem 1rem;
}

/*FAQ h3 is used for question wala part*/
#faq h3{
  color: #4aff68;
}

#faq a{
  color: #ffffff;
}

#faq a:hover{
  color: #000000;
}

/* Contact wala part  */

#contact {
  text-align: left;
  padding-bottom: 2rem;
}

#contact a {
  color: #df7e7e;
}

#contact a:hover {
  color: #ff000068;
  text-decoration: underline;
}